
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- Start Code Here -->
<div data-type="DivTemplate" data-permanently="True" id="Header">
  <div class="wrapper">
    <div class="logo">
      <a href="https://conferenceinmalaysia.com/">
          <img src="https://conferenceinmalaysia.com/images/Malaysiaconference.png"></a>
          <span class="text2">conferenceinmalaysia</span>
          <span class="text4">@Malaysiameeting</span>      
    </div>
    <div class="text5">
      5th International Conference on Multi-Disciplinary Research Studies and Education (ICMDRSE-2022), Kuala Lumpur, Malaysia. All approved papers will be published in Scopus/WoS indexed journals
      Submit your abstracts  
      <table class="center">
        <tr>
          <td><a class="text6" href="https://www.icmdrse.com/paper-submission.php?fbclid=IwAR1t_Jq9LISVcURlpV-NfS1Z4nAPmDRn7ldgmunzkWFA8lFbVi4XJdjT8Yg" >@bit.ly/3vgsD29</a></td>
        </tr>
        <tr>
          <td><a class="text7" href="https://twitter.com/hashtag/Scopus?src=hashtag_click" >#Scopus</a></td>
        </tr>
        <tr>
          <td><a class="text7" href="https://twitter.com/hashtag/virtualevent?src=hashtag_click" >#virtualevent</a></td>
        </tr>
        <tr>
          <td><a class="text7" href="https://twitter.com/hashtag/ICMDRSE2022?src=hashtag_click" >#ICMDRSE2022</a>
        </tr>
        <tr>
          <td><a class="text7" href="https://twitter.com/hashtag/IFERP?src=hashtag_click" >#IFERP</a></td>
        </tr>
    </table>
    </div>
  </div>  
</div>  
<div class="background-color-1">
    <div class="row-inner clearfix">
        <div class="text3">© Conference in Malaysia 2023</div>        
    </div> 
</div>  
  


