
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- Start Code Here -->

<div id="breadcrumbs">

<div id="featured-title" class="clearfix simple"> 
    <div class="image-container clearfix">
        <div class="inner-wrap">
          <img src="https://scontent.fkul4-2.fna.fbcdn.net/v/t39.30808-6/274553833_1644692589213213_3404706966127576573_n.jpg?stp=dst-jpg_p526x296&_nc_cat=109&ccb=1-7&_nc_sid=8024bb&_nc_ohc=ux3XrS8HBrYAX-c90jz&_nc_ht=scontent.fkul4-2.fna&oh=00_AfDPMx8lB09-lSFQEQhdOC3jIYbJMz46z_j4Q7UQ20JjOQ&oe=63E4D0DA" alt="5th International Conference on Multi-Disciplary Reserach Studies and Education 2023" width="350" height="380">
        <div class="inner-wrap2">

            </div>        
        </div>    
    </div>
</div>
<div id="site-content" class="site-content clearfix">
  <table class="center">

    <tr>
      <td>Website:</td>
      <a class="btn btn-primary btn-lg" href="https://itar.in/conf/index.php?id=1707820" role="button">Learn more</a>

    </tr>
    <tr>
      <td>Contact Person:</td>
      <td>Sonali Gupta (Abroad)</td>
    </tr>
    <tr>
      <td>Event Enquiries Email Address:</td>
      <td>info@itar.in</td>
    </tr>
    <tr>
      <td>Deadline For Abstracts/Proposals:</td>
      <td>20th Jan 2023</td>
    </tr>
    <tr>
      <td>Organized By:</td>
      <td>ITAR</td>
    </tr>
    <tr>
      <td>Venue:</td>
      <td>Malaysia,Kota Kinabalu</td>
    </tr>
  </table>
</div>
<section class="wpb_row text_row-fluid text_row-o-equal-height text_row-flex">
    <div id="site-content2" class="site-content2 clearfix">
          <figure id="attachment_5984" aria-describedby="caption-attachment-5984" style="width: 1200px;padding-bottom: 15px;" class="wp-caption alignleft">
              <div class="text3">About Conference</div>  

              <div class="text4">The aim of the Conference is to provide a platform to the researchers and practitioners from both academia as well as industry to meet the share cutting-edge development in the field.</div>          
          </figure>
                  
   </div>
</section>  
<div class="background-color-1">
 <div class="row-inner clearfix">
                <div class="text5">© Conference in Malaysia 2023</div>        
  </div> 
</div>  


